@model EconomySheetUpdater.Models.OverviewModel
@{
    ViewBag.Title = "Overview";
}

@using (@Html.BeginForm("Index", "Overview", FormMethod.Get, new { id = "ddForm" })){
@Html.DropDownListFor(ws => ws.WsId, Model.OtherWorksheets, "This Month" ,new {id="ddWs",onchange="this.form.submit()"})
}
@{
    <div style="width: 100%;">
        <div style="float:left;">
            <h4 style="color:#6E6E6E">@Model.Month </h4>
            Internet<br/>
            Electricty<br/>
            Food<br/>
            Misc<br/>
            <hr/>
            <b>Total</b>
        </div>
        <div style="width: 75px; float: left; border-left: solid 1px #6E6E6E; padding-left: 5px; margin-left: 5px;">
            <h4>Fredrik</h4>
                @{ int lastFredInd = @Model.Delta.Length; }
                @for (int @ind = 0; ind < lastFredInd; ind++)
                {
                    if (ind == lastFredInd-1)
                    {
                        <hr/>
                    }
                    @Model.Fredrik[ind]<br/>
                }
        </div>
        <div style='width: 75px; overflow: hidden; float: left; border-left: solid 1px #6E6E6E; padding-left:5px;' >
            <h4>Henri</h4>
                @{ int lastHenriInd = @Model.Delta.Length; }
                @for (int @ind = 0; ind < lastHenriInd; ind++)
                {
                    if (ind == lastHenriInd-1)
                    {
                        <hr/>
                    }
                    @Model.Henri[ind]<br/>
                }
            
        </div>
        <div style="overflow: hidden; border-left: solid 1px #6E6E6E; padding-left: 5px; ">
            <h4>Delta</h4>
                @{ int lastindex = @Model.Delta.Length; }
                @for (int @ind = 0; ind < lastindex; ind++)
                {
                    if (ind == lastindex-1)
                    {
                        <hr/>
                    }
                    @Model.Delta[ind]<br/>
                }
        </div>
    </div>
}