@using Microsoft.Web.Mvc
@model EconomySheetUpdater.Models.SpreadSheetUpdateViewModel


@{
    <h2>@Model.SpreadsheetTitle</h2>

    using (Html.BeginForm("IndexAsync", "Home", FormMethod.Post, new { id ="insertForm" }))
    {
        @Html.DropDownListFor(ws => ws.SelectedUser, Model.Users, "Select user", new {required = "true" })
        <br />

        @Html.DropDownListFor(ws => ws.SelectedWorksheetId, Model.Worksheets, "Select month", new {required = "true" })
        <br />

        @Html.DropDownListFor(ws => ws.SelectedExpenditureType, Model.ExpenditureTypes, "Select expenditure type", new {required = "true" })
        <br />

        <label for="amountInput">Select your amount</label>
        @Html.TextBoxFor(m => m.SelectedAmount, new { @id = "amountInput", required = "true", @type="number" })
        <span class="hidden">Something</span>
        <br/>
        <br/>

        @Html.SubmitButton("Submit", "Submit", new { @class = "btn-default  btn", @id = "submitButton" })
        <p style="color:red;">
        @Model.ErrorMessage
        </p>
        ;
    }
}
<script type="text/javascript">
    $(function () {
        $("#submitButton").click(function()
        {   $("#insertForm").validate({
                rules: {
                    required: true
                },
                messages: {
                  required: 'Please enter a value'  
            }
            });
        });
    });
</script>